<a href="https://colab.research.google.com/github/spandana1320/B19_1320/blob/main/LAB4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#creating a series from list
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#series with custom index
import pandas as pd
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [29]:
import pandas as pd
a={"name":['spandana','sony','sweety','harshit'],"age":[20,21,22,23],"city":["hyd","wgl","delhi","mumbai"]}
df=pd.DataFrame(a)
print(df)

       name  age    city
0  spandana   20     hyd
1      sony   21     wgl
2    sweety   22   delhi
3   harshit   23  mumbai

In [25]:
print(df['name'])

0    spandana
1        sony
2      sweety
3     harshit
Name: name, dtype: object

In [26]:
print(df[["name","age"]])

       name  age
0  spandana   20
1      sony   21
2    sweety   22
3   harshit   23

In [27]:
print(df.loc[0])

name    spandana
age           20
Name: 0, dtype: object

In [11]:
print(df.loc[[0,1]])

       name  age
0  spandana   20
1      sony   21

In [16]:
print(df.iloc[0])

name      spandana
age             20
salary        4000
Name: 0, dtype: object

In [28]:
df['salary']=[4000,3000,2000,1000]

print(df)

       name  age  salary    city
0  spandana   20    4000     hyd
1      sony   21    3000     wgl
2    sweety   22    2000   delhi
3   harshit   23    1000  mumbai

In [30]:
df = df.drop('city', axis=1)
print(df)

       name  age
0  spandana   20
1      sony   21
2    sweety   22
3   harshit   23

In [32]:
print(df[df['age']>20])

      name  age
1     sony   21
2   sweety   22
3  harshit   23

In [33]:
print(df["age"].mean())

21.5

In [34]:
print(df["age"].max())

23

In [35]:
print(df["age"].min())

20

In [38]:
student_data={"student-ID":[1,2,3,4,5],"Name":["ravi","neha","kiran","sita","gita"],"marks":[96,98,97,95,99],"Dep":["CSE","ECE","MECH","CSE","CSE-M"]}
df=pd.DataFrame(student_data)
print(df)

   student-ID   Name  marks    Dep
0           1   ravi     96    CSE
1           2   neha     98    ECE
2           3  kiran     97   MECH
3           4   sita     95    CSE
4           5   gita     99  CSE-M

In [40]:
# find students with marks>95
print(df[df['marks']>95])

   student-ID   Name  marks    Dep
0           1   ravi     96    CSE
1           2   neha     98    ECE
2           3  kiran     97   MECH
4           5   gita     99  CSE-M

In [42]:
#average marks
print(df['marks'].mean())

97.0

In [44]:
#add new column
df["result"]=['pass'if x>=50 else 'fail' for x in df["marks"]]
print(df)

   student-ID   Name  marks    Dep result
0           1   ravi     96    CSE   pass
1           2   neha     98    ECE   pass
2           3  kiran     97   MECH   pass
3           4   sita     95    CSE   pass
4           5   gita     99  CSE-M   pass

In [57]:
student_data={"srollno":[1,2,3,4,5],"sName":["ravi","neha","kiran","sita","gita"],'m1':[96,88,57,55,99],'m2':[90,41,89,76,99],'m3':[99,89,69,79,59]}
df=pd.DataFrame(student_data)
print(df)

   srollno  sName  m1  m2  m3
0        1   ravi  96  90  99
1        2   neha  88  41  89
2        3  kiran  57  89  69
3        4   sita  55  76  79
4        5   gita  99  99  59

In [58]:
df["total"]=df['m1']+df['m2']+df['m3']
print(df)

   srollno  sName  m1  m2  m3  total
0        1   ravi  96  90  99    285
1        2   neha  88  41  89    218
2        3  kiran  57  89  69    215
3        4   sita  55  76  79    210
4        5   gita  99  99  59    257

In [61]:
df["result"]=['pass'if x>=50 else 'fail' for x in df["total"]]
print(df)

   srollno  sName  m1  m2  m3  total result
0        1   ravi  96  90  99    285   pass
1        2   neha  88  41  89    218   pass
2        3  kiran  57  89  69    215   pass
3        4   sita  55  76  79    210   pass
4        5   gita  99  99  59    257   pass

In [62]:
df["average"]=df['total']/3
print(df)

   srollno  sName  m1  m2  m3  total result    average
0        1   ravi  96  90  99    285   pass  95.000000
1        2   neha  88  41  89    218   pass  72.666667
2        3  kiran  57  89  69    215   pass  71.666667
3        4   sita  55  76  79    210   pass  70.000000
4        5   gita  99  99  59    257   pass  85.666667