<a href="https://colab.research.google.com/github/spandana1320/B19_1320/blob/main/LAB6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#data cleaning
#missing values
import numpy as np
import pandas as pd
data={'name':['ravi','neha','kiran','sita'],'age':[25,np.nan,30,28],'marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#detect missing values
print("check for missing values")
print(df.isnull())

original dataframe
    name   age  marks
0   ravi  25.0   85.0
1   neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
check for missing values
    name    age  marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [12]:
data={'name':['ravi','neha','kiran','sita'],'age':[25,np.nan,30,28],'marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#dropping missing values
print("dropping missing values")
df_dropped=df.dropna()
print(df_dropped)
#or
print(df.dropna())

original dataframe
    name   age  marks
0   ravi  25.0   85.0
1   neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
dropping missing values
   name   age  marks
0  ravi  25.0   85.0
3  sita  28.0   92.0
   name   age  marks
0  ravi  25.0   85.0
3  sita  28.0   92.0

In [13]:
data={'name':['ravi','neha','kiran','sita'],'age':[25,np.nan,30,28],'marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#filling missing values with zero
df_filled=df.fillna(0)
print(df_filled)

#or
print(df.fillna(0))

original dataframe
    name   age  marks
0   ravi  25.0   85.0
1   neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
    name   age  marks
0   ravi  25.0   85.0
1   neha   0.0   90.0
2  kiran  30.0    0.0
3   sita  28.0   92.0
    name   age  marks
0   ravi  25.0   85.0
1   neha   0.0   90.0
2  kiran  30.0    0.0
3   sita  28.0   92.0

In [10]:
data={'name':['ravi','neha','kiran','sita'],'age':[25,np.nan,30,28],'marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#filling missing with mean
df['age']=df['age'].fillna(df['age'].mean())
print(df['age'])
df['marks']=df['marks'].fillna(df['marks'].mean())
print(df['marks'])

0    25.000000
1    27.666667
2    30.000000
3    28.000000
Name: age, dtype: float64
0    85.0
1    90.0
2    89.0
3    92.0
Name: marks, dtype: float64

In [20]:
#removing duplicates
data={'name':['ravi','neha','kiran','sita','ravi'],'age':[25,25,30,28,25],'marks':[85,90,90,92,90]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#removing duplicates
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('age')
print(df_no_duplicates)
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('name')
print(df_no_duplicates)
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('marks')
print(df_no_duplicates)

original dataframe
    name  age  marks
0   ravi   25     85
1   neha   25     90
2  kiran   30     90
3   sita   28     92
4   ravi   25     90
after removing duplicates
    name  age  marks
0   ravi   25     85
2  kiran   30     90
3   sita   28     92
after removing duplicates
    name  age  marks
0   ravi   25     85
1   neha   25     90
2  kiran   30     90
3   sita   28     92
after removing duplicates
   name  age  marks
0  ravi   25     85
1  neha   25     90
3  sita   28     92

In [24]:
#changing data types
data={'name':['ravi','neha','kiran','sita'],'age':['25','25','30','28'],'marks':['85','90','90','92']}
df=pd.DataFrame(data)
print(df.dtypes)

#converting into numeric
df['age']=pd.to_numeric(df['age'])
df['marks']=pd.to_numeric(df['marks'])
print(df.dtypes)

#converting into float
df['age']=df['age'].astype(float)
df['marks']=df['marks'].astype(float)
print(df.dtypes)

name     object
age      object
marks    object
dtype: object
name     object
age       int64
marks     int64
dtype: object
name      object
age      float64
marks    float64
dtype: object

In [25]:
#changing data types
data={'name':['ravi','neha','kiran','sita'],'age':[25,30,40,50],'marks':[85,92,86,99]}
df=pd.DataFrame(data)
print(df.dtypes)
#converting into strings
df['age']=df['age'].astype(str)
df['marks']=df['marks'].astype(str)
print(df.dtypes)

name     object
age       int64
marks    object
dtype: object
name     object
age      object
marks    object
dtype: object

In [31]:
#applying functions
df['marks'] = pd.to_numeric(df['marks'])
df['marks']=df['marks'].apply(lambda x:x*2)
print(df)
df['marks']=df['marks'].apply(lambda x:x+5)
print(df)

    name age      marks
0   ravi  25  171717170
1   neha  30  181818180
2  kiran  40  181818180
3   sita  50  185858584
    name age      marks
0   ravi  25  171717175
1   neha  30  181818185
2  kiran  40  181818185
3   sita  50  185858589

In [40]:
#normalization (scaling between 0 and 1)
df['age'] = pd.to_numeric(df['age'])
df['age']=(df['age']-df['age'].min())/(df['age'].max()-df['age'].min())
print(df)

    name  age     marks
0   ravi  0.0  0.000000
1   neha  0.2  0.714286
2  kiran  0.6  0.714286
3   sita  1.0  1.000000

In [41]:
data={'name':['ravi','neha','kiran','sita'],'age':[25,30,40,50],'marks':[85,92,86,99]}
print(df['age'].min())
print(df['age'].max())

0.0
1.0

In [42]:
#simple merge
import pandas as pd
# Student Data
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
})
# Marks Data
marks = pd.DataFrame({
'Student_ID': [101, 102, 103, 105],
'Marks': [85, 90, 78, 88]})
# Merge on Student_ID
merged_df = pd.merge(students, marks, on='Student_ID')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [43]:
# INNER JOIN (default)
inner = pd.merge(students, marks, on='Student_ID', how='inner')
print("Inner Join:\n", inner)
# LEFT JOIN
left = pd.merge(students, marks, on='Student_ID', how='left')
print("\nLeft Join:\n", left)
# RIGHT JOIN
right = pd.merge(students, marks, on='Student_ID', how='right')
print("\nRight Join:\n", right)
# OUTER JOIN
outer = pd.merge(students, marks, on='Student_ID', how='outer')
print("\nOuter Join:\n", outer)

Inner Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

Left Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

Right Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

Outer Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

In [45]:
#using join()
# Student Details (index = Student_ID)
students = pd.DataFrame({'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']}, index=[101, 102, 103, 104])
# Marks Data (index = Student_ID)
marks = pd.DataFrame({'Marks': [85, 90, 78, 88]}, index=[101, 102, 103, 105])
#Join based on index
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0